/* You can add global styles to this file, and also import other style files */
		
.maincolor {
    background-color: rgb(252, 244, 234);
}
.formcolor {
    background-color: rgb(29, 40, 66);
}
.btncolor {
    background-color: rgb(255, 147, 104);
}

			