.table {
  padding: 4px;
  max-width: 330px;
  display: flex;
  flex-flow: row wrap;
  margin: 4px 9px;
}
.table-cell {
  
    flex: 1 40%;
    margin: 4px 4px;
}

.colspan-3 {
  font-family: "Squada One", sans-sherif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  flex: 1 100%;
  width: 100%;
}

select {
  width: 98%;
}
.wide {
  width: 19.4rem;
}
input,
select {
  color: gray;
  height: 30px;
  padding-left: 4px;
}
button {
  font-family: "Roboto Slab", sans-sherif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  color: white;
}

.mobilehidden {
  @media (max-width: 800px){
    display: none;
  }
}
.desktophiden {
  @media (min-width: 800px){
    display: none;
  }
}

